* {
  font-family: 'Work Sans', Sans-Serif;
}

html,body {
  padding: 0;
  margin: 0;
  background-color: #111418;
  color: white;
}

body {
  padding: 4vh 4vw;
  user-select: none;
  animation: fadeIn 0.5s;
}

body.fade-out {
  animation: fadeOut 0.1s;
  opacity: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2vw;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  font-weight: unset;
  width: 40vw;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  opacity: 70%;
}

ul {
  padding: 0;
  margin: 0;
  line-break: all;
}
ul ul {
  padding-left: 4vw;
}

li {
  font-size: 4.5vw;
  padding-top: 3vh;
  list-style-type: disclosure-closed;
  list-style-position: inside;
  opacity: 0;
  line-break: all;
}

li.hidden {
  opacity: 0;
  transition: opacity 0.3s;
}

li.current {
  opacity: 1;
  transition: opacity 1s;
}

li.old {
  opacity: 20%;
  transition: opacity 0.7s;
}

img {
  margin-top: 3vh;
  max-width: 35vw;
  max-height: 70vh;
  float: right;
  border-radius: 0.2vw;
}

#next,#prev {
  display: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

